.map {
    --image-space-mobile: var(--spacing-1000);
    background-image: none;
}

.mobileMap {
    display: block;
    width: 100%;
    height: auto;
    margin-top: var(--spacing-600);
}

.neighborhoods {
    width: 100%;
}

/* min-width: 550px */
@media (min-width: 34.375rem) {
    .mobileMap {
        width: 100%;
    }
}

/* min-width: 900px */
@media (min-width: 56.25rem) {
    .mobileMap {
        display: none;
    }

    .map {
        --image-offset: clamp(12.5rem,
                calc(48.75rem - 45vw),
                36.25rem);
        --image-size: 60%;

        background-image:
            url("/images/service_area/service-area.png");
    }

    .neighborhoods {
        width: 70%;
    }
}

/* min-width: 1200px */
@media (min-width: 75rem) {
    .map {
        --image-offset: clamp(22.5rem,
                calc(56.25rem - 45vw),
                43.75rem);
        --image-size: 90%;
    }

    .neighborhoods {
        width: 28.125rem;
    }
}