.bookAnywhere {
    --image-space-mobile: var(--spacing-1000);
    background-image: none;
}

.mobileBookAnywhere {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: var(--spacing-400);
}

/* min-width: 550px */
@media (min-width: 34.375rem) {
    .mobileBookAnywhere {
        width: 100%;
        margin-top: var(--spacing-600);
    }
}

/* Desktop: 950px and wider */
@media (min-width: 59.375rem) {
    .mobileBookAnywhere {
        display: none;
    }

    .bookAnywhere {
        --image-offset: clamp(16.25rem,
                calc(52.5rem - 45vw),
                40rem);
        --image-size: 60%;

        background-image:
            url("/images/book_anywhere/book-anywhere.png");
    }
}

/* min-width: 1200px */
@media (min-width: 75rem) {
    .bookAnywhere {
        --image-offset: clamp(22.5rem,
                calc(56.25rem - 45vw),
                43.75rem);
        --image-size: 70%;
    }
}