.container {
    width: 100%;
    max-width: 92.5rem;
    /* 1480px */
    margin: 0 auto;
    padding-inline: var(--spacing-400);
    box-sizing: border-box;
}

/* min-width: 757px */
@media (min-width: 47.313rem) {
    .container {
        padding-inline: var(--spacing-800);
    }
}

/* min-width: 1200px */
@media (min-width: 75rem) {
    .container {
        padding-inline: var(--spacing-1600);
    }
}

