.container {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    padding-inline: var(--spacing-400);
    box-sizing: border-box;
}

@media (min-width: 757px) {
    .container {
        padding-inline: var(--spacing-800);
    }
}

@media (min-width: 1200px) {
    .container {
        padding-inline: var(--spacing-1600);
    }
}

