.splitSection {
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    min-height: 680px;
    overflow: hidden;

    background-repeat: no-repeat;
    background-position: calc(50% + var(--image-offset, min(25vw, 320px))) center;
    background-size: auto var(--image-size, 80%);
}

.textContent {
    max-width: 640px;
    padding: 196px 80px 196px 0;
}


/* Typography */
.textContent h1 {
    line-height: var(--line-height-heading-desktop);
    text-wrap: balance;
}

.introP {
    margin: 0 0 var(--spacing-500) 0;
    text-wrap: balance;
}

.splitSection .buttonContainer {
    display: flex;
    gap: var(--spacing-200);
}

.splitSection button {
    display: block;
    margin-right: var(--spacing-200);
}