.subheading {
    margin-top: 0;
    margin-bottom: var(--spacing-150);
    color: var(--brand-color);
    font-family: var(--font-body);
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-wrap: balance;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}