.subheading {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: var(--spacing-200);
    color: var(--accent-color);
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    font-family: "Google Sans", sans-serif;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

/* min-width: 550px */
@media (min-width: 34.375rem) {
    .subheading {
        font-size: var(--font-size-p-desktop);
    }
}