.pricePreview {
    margin-bottom: var(--spacing-1000);
    background: var(--surface-card);
    padding: var(--spacing-300);
    border: 0.063rem solid var(--border-color-light);
    border-radius: 0.75rem; 
}

.priceRow:first-of-type {
    padding-top: 0;
}

.priceRow,
.totalRow {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: var(--spacing-200) 0;
}

.priceRow {
    border-bottom: 0.063rem solid var(--border-color-light);
}

.priceRow span:last-child {
    font-weight: 600;
    text-align: right;
}

.totalRow {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    font-size: var(--font-size-total-desktop);
    font-weight: 700;
}

.priceAddition {
    margin-bottom: var(--spacing-600);
}