*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Google Sans", sans-serif;
}

p {
    font-size: var(--font-size-p-desktop);
    color: var(--text-color-primary);
    line-height: 170%;
    letter-spacing: 0.15px;
}

h1 {
    font-size: var(--font-size-h1-desktop);
    margin: 0 0 var(--spacing-400) 0;
    font-family: "Google Sans", sans-serif;
    font-weight: 600;
    letter-spacing: -2px;
}

h2 {
    font-size: var(--font-size-h2-desktop);
    margin: 0 0 var(--spacing-400) 0;
    font-weight: 600;
}

h3 {
    font-size: var(--font-size-h3-desktop);
    margin: 0 0 var(--spacing-400) 0;
    font-weight: 600;
}

main {
    margin: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}